/*-------------------------------
            CSS Reset
---------------------------------*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*-------------------------------
          Helper Classes
---------------------------------*/
.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}
.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}

.border-none {border:none !important;}

.left        { float: left; }
.right       { float: right; }
 
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

.margin-none           { margin: 0; }
.margin-center         { margin: 0 auto; }
.margin-top-none       { margin-top: 0; }
.margin-top-quarter    { margin-top: 1em / 4; }
.margin-top-half       { margin-top: 1em / 2; }
.margin-top-one        { margin-top: 1em; }
.margin-top-two        { margin-top: 1em * 2; }
.margin-right-none     { margin-right: 0; }
.margin-right-quarter  { margin-right: 1em / 4; }
.margin-right-half     { margin-right: 1em / 2; }
.margin-right-one      { margin-right: 1em; }
.margin-right-two      { margin-right: 1em * 2; }
.margin-bottom-none    { margin-bottom: 0; }
.margin-bottom-quarter { margin-bottom: 1em / 4; }
.margin-bottom-half    { margin-bottom: 1em / 2; }
.margin-bottom-one     { margin-bottom: 1em; }
.margin-bottom-two     { margin-bottom: 1em * 2; }
.margin-left-none      { margin-left: 0; }
.margin-left-quarter   { margin-left: 1em / 4; }
.margin-left-half      { margin-left: 1em / 2; }
.margin-left-one       { margin-left: 1em; }
.margin-left-two       { margin-left: 1em * 2; }
 
.padding-none           { padding: 0; }
.padding-top-none       { padding-top: 0; }
.padding-top-quarter    { padding-top: 1em / 4; }
.padding-top-half       { padding-top: 1em / 2; }
.padding-top-one        { padding-top: 1em; }
.padding-top-two        { padding-top: 1em * 2; }
.padding-right-none     { padding-right: 0; }
.padding-right-quarter  { padding-right: 1em / 4; }
.padding-right-half     { padding-right: 1em / 2; }
.padding-right-one      { padding-right: 1em; }
.padding-right-two      { padding-right: 1em * 2; }
.padding-bottom-none    { padding-bottom: 0; }
.padding-bottom-quarter { padding-bottom: 1em / 4; }
.padding-bottom-half    { padding-bottom: 1em / 2; }
.padding-bottom-one     { padding-bottom: 1em; }
.padding-bottom-two     { padding-bottom: 1em * 2; }
.padding-left-none      { padding-left: 0; }
.padding-left-quarter   { padding-left: 1em / 4; }
.padding-left-half      { padding-left: 1em / 2; }
.padding-left-one       { padding-left: 1em; }
.padding-left-two       { padding-left: 1em * 2; }

.fit         { max-width: 100%; }
.half-width  { width: 50% }
.full-width  { width: 100%; }
.full-height { height: 100%; }

.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static   { position: static; }
 
.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }

.pin-top-right { top: 0; right: 0; }
.pin-top-left { top: 0; left: 0; }
.pin-bottom-right { bottom: 0; right: 0; }
.pin-bottom-left { bottom: 0;l eft: 0; }

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-just    { text-align: justify; }

.uppercase  { text-transform: uppercase; }
.lowercase  { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.normalcase { text-transform: none; }
 
.align-top    { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.align-middle { vertical-align: middle; }

.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }
.flex         { display: flex; }

.spacer { display:block; margin:40px 0px; }

.hidden { display:none; }

/*-------------------------------
            Fonts
---------------------------------*/
@font-face {
font-family: 'air';
font-weight: normal;
font-style: normal;
src: url('fonts/air/air.eot');
src: url('fonts/air/air.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/air/air.woff') format('woff'), /* Modern Browsers */
url('fonts/air/air.ttf')  format('truetype'), /* Safari, Android, iOS */
url('fonts/air/air.woff2') format('woff2');  
}

.air {font-family:'air'}

/*-------------------------------
            Main
---------------------------------*/

body, html {
background:#fff;
color:rgb(123, 123, 123);
height:100%; 
font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif; 
font-size:14px;
font-weight: 400;
line-height:36px;
overflow-x:hidden;
width:100%;
}



pre {
background:none;
border:1px solid #ccc;
font-family: Lucida Sans,Consolas, monospace;
font-size:12px;
line-height:16px;
}

code {
padding:20px !important;
}

.content-wrap {
background:#fff;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

/*-------------------------------
             Corner Menu
---------------------------------*/
.menu-wrap {
position: fixed !important;
opacity:0.98;
z-index: 1001;
width: 320px;
height: 320px;
background: #16A085;
color: #fff;
padding: 2em;
line-height:22px;
top:0px;
-webkit-transform: translate3d(-320px,-320px,0);
transform: translate3d(-320px,-320px,0);
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

/* Menu Button */
.menu-button {
position: fixed;
z-index: 1000;
margin: 1em;
padding: 0;
width: 2.5em;
height: 2.25em;
border: none;
text-indent: 2.5em;
font-size: 1.5em;
color: transparent;
background: transparent;
}

.menu-button::before {
position: absolute;
top: 0.5em;
right: 0.5em;
bottom: 0.5em;
left: 0.5em;
background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
content: '';
}

.menu-button:hover {
opacity: 0.6;
}

/* Close Button */
.close-button {
width: 1em;
height: 1em;
position: absolute;
right: 1em;
top: 1em;
overflow: hidden;
text-indent: 1em;
border: none;
background: transparent;
color: transparent;
}

.close-button::before,
.close-button::after {
content: '';
position: absolute;
width: 2px;
height: 100%;
top: 0;
left: 50%;
background: #b8b7ad;
}

.close-button::before {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.close-button::after {
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.icon-list a {
color:#fff;
display: block;
font-weight: 700;
padding: 0.8em 0.55em;
}

.icon-list a:hover,
.icon-list a:focus {
color:#fff;
font-style:italic;
}

.icon-list a i {
color: #fff;
}

.icon-list a span {
margin-left: 10px;
}

/* Shown menu */
body.show-menu {
background:#373A47;
}
.show-menu .menu-wrap {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.show-menu .content-wrap {
-webkit-transform: translate3d(80px,80px,0);
transform: translate3d(80px,80px,0);
}

.show-menu .content::before {
opacity: 1;
-webkit-transition: opacity 0.3s;
transition: opacity 0.3s;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
/*-------------------------------
             Header
---------------------------------*/

.nav {
margin:15px 0px 0px;
}

.navbar-default {
background:none !important;
border:none;
}

.navbar-toggle {
  float: none;
  margin:none;
}

.nav li a {
color:#757575;
font-size:13px;
padding:8px 20px;
text-transform:capitalize;
}

.navbar-collapse.in li {
display:block;
float:none;
text-align:center;
}


/*-------------------------------
             Content
---------------------------------*/
#main-content {
line-height:36px;
padding-top:20px;
}

.description-bubble {
background:#fff;
border:1px solid #eee;
border-radius:12px 0px;
bottom:-20px;
font-size:12px;
left:2%;
margin:0px;
padding:2px 14px;
position:absolute;
}

a {
color:#1abc9c;
cursor:pointer;
}

a:hover{
color:#42A56B;
text-decoration:none;
}

a.plain {
color:inherit !important;
border:none !important;
}

a, a:focus, a::-moz-focus-inner {
border:0;
outline:0;
}

p {margin: 26px 0px;}

h1,h2,h3,h4,h5,h6 {
color:#333333;
font-weight:300;
margin:5px 0px 30px 0px;
}

h1 {
font-size:24px;
}

h3 {
color:#1166A3;
font-size:15px;
text-transform:none;
}


.subtext {
margin:0px 15px;
}

/*-------------------------------
            Forms
---------------------------------*/

*[contenteditable=true], *[contenteditable=true]:focus {
outline:0px solid transparent;
}

.form-group .form-control.simple {
background:#fafafa;
border:1px solid #ccc;
border-radius:0px;
box-shadow:none;
height:40px;
padding:2px 10px;
}

.form-group select.form-control.simple {
padding-top:2px;
}

.form-group label {
font-size:13px;
font-weight:normal;
}

button.special, input[type=submit].special {
background-color: #484ea8;
border: medium none;
color: #fff;
display: inline-block;
font-family: "air",sans-serif;
font-size: 12px;
font-weight: 300;
line-height: 24px;
padding: 12px 24px;]
transition: background 0.2s ease 0s, color 0.2s ease 0s;
}

button.special:hover, input[type=submit].special:hover{
background-color: #ff1d51;
}

/*-------------------------------
       Plugin overrides
---------------------------------*/

.form-group .select2-choice {
background:none !important;
border:none !important;
box-shadow:none !important;
line-height:40px !important;
margin:0px !important;
padding:0px !important;
width:200px;
}

.form-group .select2-container .select2-choice div {
display:none !important;
}


/*-------------------------------
           Home
---------------------------------*/
.course-icons {
list-style:none;
margin-bottom:10px;
}

.course-icons li {
cursor:pointer;
display:inline-block;
margin-left:22px;
}

.course-icons li:first-child {
margin-left:0px;
}

.course-icons li span {
font-size:11px;
}

.course-part {
color:#1abc9c;
display:inline-block;
font-size:12px;
font-style:italic;
margin-left:10px;
}

.course-section {
margin-bottom:50px;
}

.course-title {
display:inline-block;
}

.course-description {
margin-bottom:16px;
margin-top:0px;
}

.course-date {
background:#16a085;
color:#fff;
border-radius:8px 0px;
display:inline-block;
font-size:11px;
padding:2px 15px;
text-align:center;
}

.course-date.tentative {
background:#fff;
border:1px solid #e67e22;
color:#e67e22;
}

.page-header {
border-bottom:1px solid #eee;
position:relative;
}

.page-title {
font-size:30px;
text-align:center;
}

.page-title .icon {
color:#777;
font-size:30px;
padding-top:30px;
}

.page-subtitle {
color:#777;
font-size:14px;
margin-top:4px;
text-align:center;
}


/*-------------------------------
          Media Queries
---------------------------------*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}