li.test {
background:blue;
color:#fff;
margin:10px;
text-align:center;
width:100px;
transition: transform .6s;
-moz-transition: transform .6s;

}

li.test.big {
transform: scale3d(2, 2, 1.5) translateX(80px);
}